#heading{
    background-color: black;
    color: white;
    text-align: center;
    /*background-image: url('download.jpeg');*/
}
#banner-image{
background-image: url('download.jpeg');
width: 100%;
height: 400px;
position: relative;
top: -16px;
background-repeat: no-repeat;
background-size: 100% 100%;
}
#container{
    display: flex;
    background-color: slategrey;
    flex-wrap: wrap;
    
}
.tile{
padding: 10px 0px 0px 0px;    
margin: 10px;
background-color: silver;
width: 20%;
height: 100px;
overflow: auto;

}
footer{
    padding: 10px;
    width: 100%;
    text-align: center;
}
